**body style**
body {
  background-image: url("https://raw.githubusercontent.com/ramontheweb/ramontheweb.github.io/main/content/bg.png");
background-color: #cccccc;
}

**unordered lists**
ul.no-bullets {
  list-style-type: none; 
}
