**body style**
body {
  background-image: url("https://github.com/ramontheweb/ramontheweb.github.io/blob/main/content/bg.png?raw=true");
background-color: #cccccc;
}

**unordered lists**
ul.no-bullets {
  list-style-type: none; 
}
